#content.container.prepend-top
  #tabs.span-24.prepend-top.last
    %ul
      %li
        %a{:href => "#rentals"} Rentals
      %li
        %a{:href => "#maintenance"} Maintenance
      %li
        %a{:href => "#ondemand"} On Demand
    #rentals
      %h2 We offer rental plan options ranging from 200lb to 1300lb machines
      %h3 Let us tailor a solution that's right for your needs
      %ul
        %li How much ice do you need ready when you open your business?
        %li How much do you need in a night?
        %li What's it costing you in ice bags per month?
      %h3.alt We'll help you answer these questions and more to get it right the first time.
    #maintenance
      %h2 We offer a wide array of maintenance plan options to meet the needs of your business      
      %ul
        %li Every 3 months
        %li Every 6 months
        %li Custom maintenance plan options to meet your unique needs
    #ondemand
      %h2.alert In a pinch?
      %h3.prepend-1 Call us any day between 7am and 4pm for emergency repair services.
      %h2.alert On a weekend? 
      %h3.prepend-1 No problem, we offer weekend repair services with no additional fees or rate hikes.
#footer
  %p
    Brought to you by 
    %a{:href => "http://jasonontheweb.com"} Jason On The Web 
    custom web development services company.